<div id="content">
    <section widget-grid id="widget-grid">
        <div class="row">
            <article class="col-sm-12">
                <div id="todo-widget" jarvis-widget data-widget-editbutton="false" data-widget-color="blue">
                    <header>
                        <span class="widget-icon">
                            <i class="fa fa-table"></i>
                        </span>
                        <div class="widget-toolbar">
                            <button class="btn btn-xs btn-col-fff" ng-class="{active: newTodo}" ng-click="toggleAdd()"><i ng-class="{ 'fa fa-plus': !newTodo, 'fa fa-times': newTodo}"></i> 筛选</button>
                        </div>
                    </header>
                    <div class="widget-body tab-content">
                        <div class="widget-body-toolbar" ng-show="newTodo">
                            <form class="form-horizontal">
                                <div class="row">
                                    <div class="col-md-2 col-xs-3 col-sm-2 col-lg-2 input-label">起始日期：</div>
                                    <div class="col-md-2 col-xs-9 col-sm-10 col-lg-2">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" name="mydate" placeholder="Select a date" class="form-control datepicker" data-smart-datepicker options="datepickerOptions" data-date-format="dd/mm/yy" ng-model="form.startTime">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-xs-3 col-sm-2 col-lg-2 input-label">截止日期：</div>
                                    <div class="col-md-2 col-xs-9 col-sm-10 col-lg-2">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" name="mydate" placeholder="Select a date" class="form-control datepicker" data-smart-datepicker options="datepickerOptions" data-date-format="dd/mm/yy" ng-model="form.endTime">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-8 col-xs-12 form-input">
                                        <input type="text" ng-model="form.operationAccount" placeholder="操作人账号" class="form-control">
                                    </div>
                                    <div class="col-md-1 col-sm-2 col-xs-6">
                                        <button class="btn btn-default btn-block" ng-click="logList()">搜索</button>
                                    </div>
                                    <div class="col-md-1 col-sm-2 col-xs-6">
                                        <button class="btn btn-default btn-block form-excel" ng-click="exportChooseDateRange()">导出Excel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="log" ng-repeat="log in logs">
                            <div class="log-date">
                                {{log.createTime}}
                            </div>
                            <div class="log-msg">
                                <p>操作人：{{log.operationName}}</p>
                                <p>设备ID：{{log.diveceId}}</p>
                                <p>类型：{{log.mold}}</p>
                                <p>动态描述：{{log.remark}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
<!-- 导出excel选择日期 -->
<div class="modal fade" id="toexcel" tabindex="-1" role="dialog" aria-labelledby="addAccount" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="addAccount">查看账号</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-lg-4 input-label">起始日期：</div>
                    <div class="col-md-8 col-sm-8 col-lg-8">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" name="mydate" placeholder="Select a date" class="form-control datepicker" data-smart-datepicker options="datepickerOptions" data-date-format="dd/mm/yy" ng-model="form.startTime">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4 input-label">截止日期：</div>
                    <div class="col-md-8 col-sm-8 col-lg-8">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" name="mydate" placeholder="Select a date" class="form-control datepicker" data-smart-datepicker options="datepickerOptions" data-date-format="dd/mm/yy" ng-model="form.startTime">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="export()">确定</button>
            </div>
        </div>
    </div>
</div>
<style>
    .input-label{
        width:110px;
    }
    .form-input{
        margin-bottom:15px;
    }
    .log{
        width:100%;
        background: #f3f3f3;
        min-height:120px;
        margin-bottom:15px;
        position: relative;
    }
    .log .log-date{
        width:100px;
        height:inherit;
        float:left;
        padding:10px;
        z-index: -1;
    }
    .log .log-msg{
        overflow:hidden;
        padding:10px;
    }
    .log::before{
        display: inline-block;
        background:#d9d9d9;
        content: "";
        width:10px;
        height:10px;
        border-radius: 50%;
        border: 2px solid #309bfb;
        position: absolute;
        left:95px;
        top:13px;
        z-index: 3;
    }
    .log::after{
        content: "";
        height:calc(100% + 15px);
        width: 1px;
        background:#d9d9d9;
        position: absolute;
        left:100px;
        top:15px;
        z-index: 2;
    }
    .log:last-child::after{
        width:0;
    }
    .form-excel{
        min-width:80px;
    }
</style>